<v-content>
    <v-card elevation="9" width="500" class="mx-auto mt-5">
    <v-card-title class="justify-center primary">
        <h3 class="display-1 white--text">Register</h3>
    </v-card-title>
    <v-spacer></v-spacer>
        <v-card-text>
            <v-form>
                <v-text-field
                        label="First Name"
                        prepend-icon="mdi-account-circle"
                        v-model="firstname"
                />
                <v-text-field
                        label="Last Name"
                        prepend-icon="mdi-account-circle"
                        v-model="lastname"
                />
                <v-text-field
                        label="Username"
                        prepend-icon="mdi-account-outline"
                        v-model="username"
                />
                <v-text-field
                        label="Email"
                        prepend-icon="mdi-email-outline"
                        v-model="email"
                />
                <v-text-field
                        label="Password"
                        prepend-icon="mdi-lock"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="showPassword ? 'text' : 'password'"
                        @click:append="showPassword  = !showPassword"
                        v-model="password"
                />
                <v-text-field
                        label="Repeat Password"
                        prepend-icon="mdi-lock"
                        type="password"
                        v-model="passwordRepeat"
                />
            </v-form>
        </v-card-text>
        <v-card-actions>
            <router-link class="text-white v-card--link" to="/login"><v-btn color="info">Login</v-btn></router-link>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="register">Register</v-btn>
        </v-card-actions>
    </v-card>
</v-content>