<v-content>
    <v-container>
        <v-row>
            <v-col>
                <p>{{series.title}}</p>
            </v-col>
            <v-col>
                <p>{{series.body}}</p>
            </v-col>
            <v-col>
                <p>{{series.about}}</p>
            </v-col>
            <v-col>
                <p>{{series.likes}}</p>
            </v-col>
            <v-col>
                <p>{{series.dislikes}}</p>
            </v-col>
        </v-row>
    </v-container>
</v-content>