<v-content >
    <v-card elevation="9" width="500" class="mx-auto mt-5">
        <v-card-title class="justify-center info">
            <h3 class="display-1 white--text">Login</h3>
        </v-card-title>
        <v-spacer></v-spacer>
        <v-card-text>
            <v-form>
                <v-text-field
                        label="Username"
                        prepend-icon="mdi-account-circle"
                />
                <v-text-field
                        label="Password"
                        prepend-icon="mdi-lock"
                        :type="showPassword ? 'text' : 'password'"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPassword = !showPassword"
                />
            </v-form>

        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
            <router-link  class="mr-2"  to="/register"><v-btn color="primary">register</v-btn></router-link>
            <router-link  to="/reset-password"><v-btn color="warning">reset password</v-btn></router-link>
            <v-spacer></v-spacer>
            <v-btn color="info">Login</v-btn>
        </v-card-actions>
        <v-divider></v-divider>
    </v-card>
</v-content>